.col {
    padding:0;
    margin:0;
}
.row {
    margin:0;
    padding:0;
}
button:focus-visible {
    outline:0;
}
.sudokuContainer {
    --baseColor:rgb(82, 169, 255);

    --emphasized: rgb(215, 232, 253);
    --completed: rgb(52, 128, 52);
    --focused: #212529;

    --validCell: hsl(0, 0%, 100%);
    --validHighlighted: hsl(212, 100%,90%);
    --validSelectedNum: hsl(212, 100%, 65%);
    --validHighlightedSelectedNum: hsl(212, 100%, 50%);
    
    --invalid: hsl(0, 65%, 85%);
    --invalidHighlighted: hsl(0, 65%, 75%);
    --invalidSelectedNum: hsl(0, 65%, 65%);
    --invalidHighlightedSelectedNum: hsl(0, 65%, 55%);

    --disabled: hsl(0, 0%, 80%);
    --disabledHighlighted: hsl(0, 0%, 60%);
    --disabledSelectedNum: hsl(0, 0%, 45%);
    --disabledHighlightedSelectedNum: hsl(0, 0%, 40%);

    padding:0;
    margin:0 auto;
    width: 95vw;
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:1;
}
.s-button {
    position: relative;
    overflow: hidden;

    background: white;
    color: white;
    border: 0;
    margin:0;
    padding:0.25rem;
    
    cursor:pointer;

    .s-buttonChild {
        padding:0.5rem;
        margin: 0;
        border: 0;
        
        cursor: pointer;
        color: black;  
        background: var(--validHighlighted);
        border-radius: 0.25rem;
        width: 100%;
        transition: transform 0.5s;
    
        .undo,.restart,.notes {
            flex-shrink: 1;
        }

        img, span {
            flex-shrink: 1;
        }
    }

    .notes-on {
        background: rgb(170, 207, 173);
    }
    .notes-on:hover {
        background: rgb(85, 212, 96) !important;
    }
    .notes-on:active {
        background: rgb(23, 212, 39) !important;
    }
}

.s-button:hover .s-buttonChild, .s-button.selected .s-buttonChild {
    background: var(--validSelectedNum);
}

.s-button:active .s-buttonChild {
    background: var(--validHighlightedSelectedNum)
}

.s-button:disabled .s-buttonChild {
    background: var(--disabled);
    cursor:auto;
}

.square {
    aspect-ratio: 1;
}

.hide { 
    display:none;
}

.boardContainer {
    flex: 0 0 auto;
    width: 60%;
    max-width: 65vh;

    .s-buttonChild {
        padding:0;
    }

    .cell {
        background: white !important;
        border: 1px solid var(--baseColor);
    }

    .cellInner {
        border: 0 !important;
    }

    .valid.cell {
        .cellInner {
            background:var(--validCell);
            box-shadow: 0 0 0.25rem  0.25rem var(--validCell);
        }
        .highlighted {
            background:var(--validHighlighted);
            box-shadow: 0 0 0.25rem  0.25rem var(--validHighlighted);
        }
        .selectedNum {
            background:var(--validSelectedNum);
            box-shadow: 0 0 0.25rem  0.25rem var(--validSelectedNum);
        }
        .highlighted.selectedNum {
            background:var(--validHighlightedSelectedNum);
            box-shadow: 0 0 0.25rem  0.25rem var(--validHighlightedSelectedNum);
        }
        .focused {
            box-shadow: 0 0 0.25rem  0.25rem var(--focused);
        }
    }

    .invalid.cell {
        .cellInner {
            background:var(--invalid);
            box-shadow: 0 0 0.25rem  0.25rem var(--invalid);
        }
        .highlighted {
            background:var(--invalidHighlighted);
            box-shadow: 0 0 0.25rem  0.25rem var(--invalidHighlighted);
        }
        .selectedNum {
            background:var(--invalidSelectedNum);
            box-shadow: 0 0 0.25rem  0.25rem var(--invalidSelectedNum);
        }
        .highlighted.selectedNum {
            background:var(--invalidHighlightedSelectedNum);
            box-shadow: 0 0 0.25rem  0.25rem var(--invalidHighlightedSelectedNum);
        }
        .focused {
            box-shadow: 0 0 0.25rem  0.25rem var(--focused);
        }
    }

    .disabled.cell {
        .cellInner {
            background:var(--disabled);
            box-shadow: 0 0 0.25rem  0.25rem var(--disabled);
        }
        .highlighted {
            background:var(--disabledHighlighted);
            box-shadow: 0 0 0.25rem  0.25rem var(--disabledHighlighted);
        }
        .selectedNum {
            background:var(--disabledSelectedNum);
            box-shadow: 0 0 0.25rem  0.25rem var(--disabledSelectedNum);
        }
        .highlighted.selectedNum {
            background:var(--disabledHighlightedSelectedNum);
            box-shadow: 0 0 0.25rem  0.25rem var(--disabledHighlightedSelectedNum);
        }
        .focused {
            box-shadow: 0 0 0.25rem  0.25rem var(--focused);
        }
    }

    .cell:hover .cellInner, .focused.cellInner {
        box-shadow: 0 0 0.25rem  0.25rem var(--focused) !important;
    }

    .highlightNote {
        color:white;
        background:var(--validHighlightedSelectedNum) !important;
        border-radius: 50%;
        aspect-ratio: 1;
    }

    .notes {
        font-size:0.45rem;
        width:100%;
        aspect-ratio:1;
        height:33%;
        .col {
            line-height:normal;     
            aspect-ratio: 1;
        }
    }

    .bl {
        border-left: 2px solid var(--baseColor);
    }
    .bt {
        border-top: 2px solid var(--baseColor);
    }
    .br {
        border-right: 2px solid var(--baseColor);
    }
    .bb {
        border-bottom: 2px solid var(--baseColor);
    }
}

.completed {
    .cellInner {
        background:var(--validCellHover) !important;
        box-shadow: 0 0 0.25rem  0.25rem var(--validCellHover);
    }
}

.settingsContainer {
    margin-top:0.5rem;
    width: 75%;
    flex: 0 0 auto;
}
.selectorContainer {
    flex: 0 0 auto;
    width: 30%;
    max-width: 40vh;
    margin: 0 1rem;

    .s-button {
        .s-buttonChild {
            span {
                width:100%;
                text-align: center;
                padding:0
            }
        }
    }
}

@media (width < 700px) {
    .selectorContainer, .settingsContainer {
        width: 100%;
        .s-button {
            .s-buttonChild {
                span {
                    display:none
                }
            }
        }
        
    }
    .boardContainer {
        width: 100%;
    }
}

.gameOver {
    pointer-events: none;
}